*.iml
*.apk
.gradle
.idea
.DS_Store
/build
/captures
app/debug/*
app/build/*
.externalNativeBuild
.cxx
local.properties
genshin.jks
app/release/output-metadata.json
app/debug/output-metadata.json
patch.bat
genshin-impact.apk
genshin-impact-lv0-lspatched.apk